<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0-3/css/font-awesome.min.css"
        th:href="@{/webjars/font-awesome/4.3.0-3/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilo.css" th:href="@{/css/estilo.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
	<title>UCM RESERVAS</title>
     <!-- JS -->
    <script 
        src="//code.jquery.com/jquery-2.1.4.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	<div class="row">
	    <div class="col-md-12">
	        <h1 class="page-header text-center">
	            Administrar
	        </h1>
	    </div>
	</div>
	<!-- /.row -->
	<div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center">
                <small>Administrar usuarios</small>
            </h1>
        </div>
    </div>
	<div class="row">
    	<div class="col-md-8 col-md-offset-2">
         	
			<div class="jumbotron text-center" th:if="${#lists.isEmpty(userList)}">
                <i class="fa fa-ban fa-5x"></i>
                <h4>¡Uups! No hay ningún usuario.</h4>
           </div> 
			<!-- <div class="row">
			<div class="col-md-6">
				  <div class="form-group">
				    <label> Usuario :</label>
				    	   
				    <div class="ui-widget">
				    	<input id="autoUsuario" type="text" class="form-control" 
				    	 placeholder="Nombre del usuario" />  
				    </div>		     
				   </div>
			    </div>
			    			                  
			</div> -->
            <div class="table-responsive" th:unless="${#lists.isEmpty(userList)}">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        	
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Activado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r : ${userList}"
                        	th:attr="id=${r.id},data-id=${r.id},name=${r.username},email=${r.email},en=${r.enabled}">
                        	
                            <td th:text="${r.username}"></td>
                            <td th:text="${r.email}"></td>
                            <td th:if="${!r.enabled}">No</td>
                            <td th:if="${r.enabled}">Si</td>
                            
                        </tr>     
                    </tbody>
                </table>
            </div>
             <!-- /.table-responsive-->
         
     	</div>
 	</div>
 	<div class="modal fade" id="modalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar usuario</h4>
          </div>
          <div class="modal-body">
          		<form class="form-horizontal" role="form" action="#" th:action="@{/editar}" th:object="${User}" method="put">             
				
				 <!-- Nombre de usuario --> 
                 <div class="form-group">
                     <label for="ejemplo_2" class="col-md-2 control-label">Nombre:</label>
                      <div class="col-md-10">
                         <input id="idNombre" name="nombreUsu" type="text" class="form-control" placeholder="Introduce un nombre de usuario"/>
                      </div>
                 </div>
                 
                 <!-- Correo --> 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Email:</label>
                     <div class="col-md-9">
		                
		               <input id="idEmail" name="email" type="text" class="form-control" placeholder="Introduce un email"/>
		               
                     </div>
                 </div>
                 
                 <!-- Activado --> 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Activado:</label>
                     <div class="col-md-9">
		                <select id="idEnabled" name="enabled" title="Activado">
							          
				          <option value="true">Sí</option>
				          <option value="false">No</option>
				        </select>
		               
		               			            
                     </div>
                 </div>
                 
                 <div class="row">
                     <div class="col-xs-6 col-md-6">
                      <button id="btn-eliminar" type="button" class="btn-rec red">ELIMINAR</button>
                     </div>
                     <div class="col-xs-6 col-md-6 text-right">
                      <button id="btn-guardar" type="button" class="btn-rec blue">GUARDAR </button>
                     </div>
                 </div>                
             </form>
                 
          </div>
        </div>
      </div>
    </div>
 <!-- /.row -->
 
 <script th:inline="javascript">
 var baseURL = /*[[@{/}]]*/ '/';

 $(document).ready(function(){
	 	var user = {};
	 	var token = $("meta[name='_csrf']").attr("content");
	 	var header = $("meta[name='_csrf_header']").attr("content");
	 	var reqHeaders = [];
	 	reqHeaders[header] = token;
	 	
	 	$('tr').click(function(){
	 		$('#modalEditarUsuario').modal('show');
	 		
	 		
	 		user.id =  $(this).attr("data-id");
	 		user.username = $(this).attr("name");
	 		user.email = $(this).attr("email");
	 		user.enabled = $(this).attr("en");
	 		//usuario.title = $(this).find("td").eq(0).html();

	 		//$('#modalEditarUsuario #idUser').text(usuario.id);
	 		$('#modalEditarUsuario #idNombre').attr("value",user.username);
	 		$('#modalEditarUsuario #idEmail').attr("value",user.email);
	 		$('#modalEditarUsuario #idEnabled').attr("value",user.enabled);
	 		
	 	});
	 	
	 	$("#btn-guardar").click(function(){
	 		user.username = $("#modalEditarUsuario #idNombre").val();
	 		
	 		user.email = $('#modalEditarUsuario #idEmail').val();
	 		user.enabled = $('#modalEditarUsuario #idEnabled').val();
	 	

	 		$.ajax({
	 			url: baseURL + "user/" + user.id,
	 			type: 'PUT',
	 			headers : reqHeaders,
	 			data: JSON.stringify(user),
	 			contentType: 'application/json',
	 			success : function(datos) {   
	 				alert("Usuario actualizado");
	 				$('#modalEditarUsuario').modal('hide');
	 				$("#"+user.id +" td:nth-child(1)").text(user.username);
	 				$("#"+user.id +" td:nth-child(2)").text(user.email);
	 				$("#"+user.id +" td:nth-child(3)").text(user.enabled);
	 			},    
	 			error : function(xhr, status) {
	     			alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
	 	$("#btn-eliminar").click(function(){
	 		$.ajax({
	 			url: baseURL + "user/" + user.id,
	 			type: 'DELETE',
	 			headers : reqHeaders,
	 			success : function(datos) {
	 				alert("Usuario eliminado");
	 				$('#modalEditarUsuario').modal('hide');
	 				$("#"+user.id).remove();
	 			},    
	 			error : function(xhr, status) {
	 				alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
 });
 
 
 </script>
 <script>

$("#autoUsuario").autocomplete({
	source:function(request, response){
			var tag = request.term;
			
			$.ajax({
				url: '/administrar/usuarios/',
				type: 'GET',
				contentType: 'application/json',
				success : function(datos) {
									
					response($.map(datos,function(item){
						
							var obj = new Object();
							obj.label = item.id; 
							obj.value = item.username;
							return obj;
		
					}))
					
				},    
			    error : function(xhr, status) {
			        alert('Disculpe, existió un problema');
			    }
			});
	}

}).autocomplete("instance")._renderItem = function(ul,item){
	
		var inner_html = '<div class="col-md-2" style="padding-top:3px;">' + 
		                  '<img class="media-object" src="http://placehold.it/50x50"/>' + 
		                  '</div>' + 
		                  '<div class="col-md-10">' + 
		                  '<p>'+ item.value +'</p>' +
		                  '</div>';
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append(inner_html)
                    .appendTo(ul);
	
};
	

</script>
</div>
</body>
</html>