<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Administrar edificios</title>
   
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	<div class="row">
	    <div class="col-md-12">
	        <h1 class="page-header text-center">
	            Administrar
	        </h1>
	    </div>
	</div>
<!-- /.row -->
	<div class="row">
    	<div class="col-md-12">
            <h1 class="page-header text-center">
                <small>Administrar edificios</small>
            </h1>
        </div>
    </div>
           <!-- /.row -->

    <div class="row">
		<div class="col-md-8 col-md-offset-2">
    	
			<div class="jumbotron text-center" th:if="${#lists.isEmpty(currentResults)}">
           			<i class="fa fa-ban fa-5x"></i>
           			<h4>¡Uups! No hay ningún edificio.</h4>
      		</div> 

          	<div class="table-responsive" th:unless="${#lists.isEmpty(currentResults)}">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                      	
                          <th>Nombre</th>
                          <th>Facultad</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="r : ${currentResults}"
                      	th:attr="id=${r.id},data-id=${r.id},name=${r.nombre_edificio},idFacultad=${r.facultad.id}">
                      	
                          <td th:text="${r.nombre_edificio}"></td>
                          <td th:text="${r.facultad.nombreFacultad}"></td>
                          
                      </tr> 
                      <!-- <tr>
                      	<td><input id="btn-crear" type="text" class="btn btn-default" value="Añadir edificio"/></td>
                      	<td></td>
                      </tr>    --> 
                      
                  </tbody>
              </table>
              <a th:href="@{'/nuevoEdificio'}"><input type="button" class="btn btn-default" value="Añadir edificio"/></a> 
                
          	</div> 
        <!-- /.table-responsive-->
    
		</div>
	</div>
	
	<!-- Pagination -->
 	<div class="row">
    <div class="col-md-12 text-center">
        <div class='pagination pagination-centered'>
            <ul class="pagination">
                <li th:class="${currentIndex == 1}? 'disabled' : ''">
                    <span th:if='${currentIndex == 1}'>← First</span>
                    <a th:if='${currentIndex != 1}'
                       th:href="@{1}">← First</a>
                </li>
                <li th:class="${currentIndex != 1}? '' : 'disabled'">
                    <span th:if='${currentIndex == 1}'>«</span>
                    <a th:if='${currentIndex != 1}'
                       th:href="@{${(currentIndex - 1)}}"
                       title='Go to previous page'>«</a>
                </li>

                <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                    th:class="${item == currentIndex ? 'active' : '' }">

                    <span th:if='${item == currentIndex}' th:text='${item}'>1</span>

                    <a th:if='${item != currentIndex}'
                       th:href="@{${item}}">
                        <span th:text='${item}'>1</span>
                    </a>
                </li>

                <li th:class="${currentIndex != currentResults.totalPages}? '' : 'disabled'">
                    <span th:if='${currentIndex == currentResults.totalPages}'>»</span>
                    <a th:if='${currentIndex != currentResults.totalPages}'
                       th:href="@{${(currentIndex + 1)}}" title='Go to next page'>»</a>
                </li>
                <li th:class="${currentIndex == currentResults.totalPages}? 'disabled' : ''">
                    <span th:if='${currentIndex == currentResults.totalPages}'>Last →</span>
                    <a th:if='${currentIndex != currentResults.totalPages}'
                       th:href="@{${currentResults.totalPages}}">Last →</a>
                </li>
            </ul>
        </div>
    </div>
</div>
 <!-- /.Pagination -->
	
	<div class="modal fade" id="modalEditarEdificio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar edificio</h4>
          </div>
          <div class="modal-body">
          		<form class="form-horizontal" role="form" action="#" th:action="@{/editar}" th:object="${Edificio}" method="put">             
				
				 <!-- Nombre de edificio --> 
                 <div class="form-group">
                     <label for="ejemplo_2" class="col-md-2 control-label">Nombre:</label>
                      <div class="col-md-10">
                         <input id="idNombre" name="nombreEdif" type="text" class="form-control" placeholder="Introduce un nombre de edificio"/>
                      </div>
                 </div>
                 
                 <!-- Correo --> 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Facultad:</label>
                     <div class="col-md-9">
                     
                     	<select id="idFacul" name="facul" title="Facultad">
				          
				          <option th:each="f : ${facultades}" th:value="${f.id}" th:text="${f.nombreFacultad}"/> 
				        </select>
		               
		               
                     </div>
                 </div>
                 
                 
                 <div class="row">
                     <div class="col-xs-3 col-md-3">
                      <button id="btn-eliminar" type="button" class="btn-rec red">ELIMINAR</button>
                     </div>
                     <div class="col-xs-3 col-md-3 text-right">
                      <button id="btn-guardar" type="button" class="btn-rec blue">GUARDAR </button>
                     </div>
                     
                 </div>                
             </form>
                 
          </div>
        </div>
      </div>
    </div>
    
    
	<script th:inline="javascript">
 var baseURL = /*[[@{/}]]*/ '/';

 $(document).ready(function(){
	 	var edificio = {};
	 	var token = $("meta[name='_csrf']").attr("content");
	 	var header = $("meta[name='_csrf_header']").attr("content");
	 	var reqHeaders = [];
	 	reqHeaders[header] = token;
	 	
	 	$('tr').click(function(){
	 		$('#modalEditarEdificio').modal('show');
	 		
	 		edificio.id =  $(this).attr("data-id");
	 		edificio.nombre_edificio = $(this).attr("name");
	 		edificio.idFacultad = $(this).attr("idFacultad");

	 		//$('#modalEditarEdificio #idEdificio').text(edificio.id);
	 		$('#modalEditarEdificio #idNombre').attr("value",edificio.nombre_edificio);
	 		$('#modalEditarEdificio #idFacul').attr("value",edificio.idFacultad);
	 		
	 	});
	 	
	 	$("#btn-guardar").click(function(){
	 		edificio.nombre_edificio = $("#modalEditarEdificio #idNombre").val();
	 		edificio.idFacultad = $('#modalEditarEdificio #idFacul').val();
	 		
	 		$.ajax({
	 			url: baseURL + "edificio/" + edificio.id,
	 			type: 'PUT',
	 			headers : reqHeaders,
	 			data: JSON.stringify(edificio),
	 			contentType: 'application/json',
	 			success : function(datos) {   
	 				alert("Edificio actualizado");
	 				$('#modalEditarEdificio').modal('hide');
	 				
	 				$("#"+edificio.id +" td:nth-child(1)").text(edificio.nombre_edificio);
	 				$("#"+edificio.id +" td:nth-child(2)").text(edificio.idFacultad);
	 			},    
	 			error : function(xhr, status) {
	     			alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
	 	$("#btn-eliminar").click(function(){
	 		$.ajax({
	 			url: baseURL + "edificio/" + edificio.id,
	 			type: 'DELETE',
	 			headers : reqHeaders,
	 			success : function(datos) {
	 				alert("Edificio eliminado");
	 				$('#modalEditarEdificio').modal('hide');
	 				$("#"+edificio.id).remove();
	 			},    
	 			error : function(xhr, status) {
	 				alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
 });
 </script>
 		
 </div>
</body>
</html>