<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Administrar facultades</title>
   
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	<div class="row">
	    <div class="col-md-12">
	        <h1 class="page-header text-center">
	            Administrar
	        </h1>
	    </div>
	</div>
<!-- /.row -->
	<div class="row">
    	<div class="col-md-12">
            <h1 class="page-header text-center">
                <small>Administrar facultades</small>
            </h1>
        </div>
    </div>
           <!-- /.row -->

    <div class="row">
		<div class="col-md-8 col-md-offset-2">
    	
			<div class="jumbotron text-center" th:if="${#lists.isEmpty(facultades)}">
           			<i class="fa fa-ban fa-5x"></i>
           			<h4>¡Uups! No hay ninguna facultad.</h4>
      		</div> 

          	<div class="table-responsive" th:unless="${#lists.isEmpty(facultades)}">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Dirección</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="r : ${facultades}"
                      	th:attr="id=${r.id},data-id=${r.id},name=${r.nombreFacultad}, dir=${r.dir}">
                      	
                          <td th:text="${r.nombreFacultad}"></td>
                          <td th:text="${r.dir}"></td>
                      </tr>     
                  </tbody>
              </table>
              <a th:href="@{'/nuevaFacultad'}"><input type="button" class="btn btn-default" value="Añadir facultad"/></a> 
          	</div> 
        <!-- /.table-responsive-->
    
		</div>
	</div>
	<div class="modal fade" id="modalEditarFacultad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar facultad</h4>
          </div>
          <div class="modal-body">
          		<form class="form-horizontal" role="form" action="#" th:action="@{/editar}" th:object="${Facultad}" method="put">             
				
				 <!-- Nombre de facultad --> 
                 <div class="form-group">
                     <label for="ejemplo_2" class="col-md-2 control-label">Nombre:</label>
                      <div class="col-md-10">
                         <input id="idNombre" name="nombreEdif" type="text" class="form-control" placeholder="Introduce un nombre de facultad"/>
                      </div>
                 </div>
                 
                 <!-- Direccion de facultad --> 
                 <div class="form-group">
                     <label for="ejemplo_2" class="col-md-2 control-label">Direccion:</label>
                      <div class="col-md-10">
                         <input id="idDir" name="direccion" type="text" class="form-control" placeholder="Introduce una direccion para la facultad"/>
                      </div>
                 </div>
                              
                 <div class="row">
                     <div class="col-xs-6 col-md-6">
                      <button id="btn-eliminar" type="button" class="btn-rec red">ELIMINAR</button>
                     </div>
                     <div class="col-xs-6 col-md-6 text-right">
                      <button id="btn-guardar" type="button" class="btn-rec blue">GUARDAR </button>
                     </div>
                 </div>                
             </form>
                 
          </div>
        </div>
      </div>
    </div>
	<script th:inline="javascript">
 var baseURL = /*[[@{/}]]*/ '/';

 $(document).ready(function(){
	 	var facultad = {};
	 	var token = $("meta[name='_csrf']").attr("content");
	 	var header = $("meta[name='_csrf_header']").attr("content");
	 	var reqHeaders = [];
	 	reqHeaders[header] = token;
	 	
	 	$('tr').click(function(){
	 		$('#modalEditarFacultad').modal('show');
	 		
	 		facultad.id =  $(this).attr("data-id");
	 		facultad.nombreFacultad = $(this).attr("name");
			facultad.dir = $(this).attr("dir");
			
	 		//$('#modalEditarFacultad #idFacultad').text(facultad.id);
	 		$('#modalEditarFacultad #idNombre').attr("value",facultad.nombreFacultad);
	 		$('#modalEditarFacultad #idDir').attr("value",facultad.dir);
	 	});
	 	
	 	$("#btn-guardar").click(function(){
	 		facultad.nombreFacultad = $("#modalEditarFacultad #idNombre").val();
	 		facultad.dir = $("#modalEditarFacultad #idDir").val();
	 	

	 		$.ajax({
	 			url: baseURL + "facultad/" + facultad.id,
	 			type: 'PUT',
	 			headers : reqHeaders,
	 			data: JSON.stringify(facultad),
	 			contentType: 'application/json',
	 			success : function(datos) {   
	 				alert("Facultad actualizada");
	 				$('#modalEditarFacultad').modal('hide');
	 				
	 				$("#"+facultad.id +" td:nth-child(1)").text(facultad.nombreFacultad);
	 				$("#"+facultad.id +" td:nth-child(2)").text(facultad.dir);
	 			},    
	 			error : function(xhr, status) {
	     			alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
	 	$("#btn-eliminar").click(function(){
	 		$.ajax({
	 			url: baseURL + "facultad/" + facultad.id,
	 			type: 'DELETE',
	 			headers : reqHeaders,
	 			success : function(datos) {
	 				alert("Facultad eliminada");
	 				$('#modalEditarFacultad').modal('hide');
	 				$("#"+facultad.id).remove();
	 			},    
	 			error : function(xhr, status) {
	 				alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
 });
 
 
 </script>			
 </div>
</body>
</html>