<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0-3/css/font-awesome.min.css"
        th:href="@{/webjars/font-awesome/4.3.0-3/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilo.css" th:href="@{/css/estilo.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
	<title>UCM RESERVAS</title>
     <!-- JS -->
    <script 
        src="//code.jquery.com/jquery-2.1.4.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header text-center">
            Administrar
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-12 col-md-offset-2">
        
	<a href="administrar/administrar_usuarios" th:href="@{/administrar/administrar_usuarios}" class="button blue medium">
		<i class="fa fa-users"></i>
		<span class="icon-house"></span>Administrar usuarios
	</a>
 
	<a href="administrar/administrar_facultad" th:href="@{/administrar/administrar_facultad}" class="button red medium">
		<i class="fa fa-home"></i>
		<span class="icon-warning"></span>Administrar facultades
	</a>
 
	<a href="administrar/administrar_edificios" th:href="@{/administrar/administrar_edificios}" class="button medium green">
		<i class="fa fa-fort-awesome"></i>
		<span class="icon-code"></span>Administrar edificios
	</a>
    <a href="administrar/administrar_espacios" th:href="@{/administrar/administrar_espacios}" class="button medium orange">
    	<i class="fa fa-building"></i>
		<span class="icon-code"></span>Administrar espacios
	</a>
    </div>
</div>
</div>
 <!-- /.row -->
</body>
</html>