<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Administrar espacios</title>
     
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	<div class="row">
	    <div class="col-md-12">
	        <h1 class="page-header text-center">
	            Administrar
	        </h1>
	    </div>
	</div>
<!-- /.row -->
	<div class="row">
    	<div class="col-md-12">
            <h1 class="page-header text-center">
                <small>Administrar espacios</small>
            </h1>
        </div>
    </div>
           <!-- /.row -->

    <div class="row">
		<div class="col-md-8 col-md-offset-2">
    	
			<div class="jumbotron text-center" th:if="${#lists.isEmpty(currentResults)}">
           			<i class="fa fa-ban fa-5x"></i>
           			<h4>¡Uups! No hay ningún espacio.</h4>
      		</div> 

          	<div class="table-responsive" th:unless="${#lists.isEmpty(currentResults)}">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Capacidad</th>
                          <th>Micrófono</th>
                          <th>Proyector</th>
                          <th>Tipo de espacio</th>
                          <th>Edificio</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="r : ${currentResults}"
                      	th:attr="data-id=${r.id},name=${r.nombre_espacio},capacidad=${r.capacidad},micro=${r.microfono},proye=${r.proyector},tipo=${r.tipoEspacio.tipo}, edificio = ${r.edificio.nombre_edificio}">
                      	
                        <td th:text="${r.nombre_espacio}"></td>
                        <td th:text="${r.capacidad}"></td>
                        <td th:if="${!r.microfono}">No</td>
                        <td th:if="${r.microfono}">Si</td>
                        <td th:if="${!r.proyector}">No</td>
                        <td th:if="${r.proyector}">Si</td>
                        <td th:text="${r.tipoEspacio.tipo}"></td> 
                        <td th:text="${r.edificio.nombre_edificio}"></td> 
                      </tr>     
                  </tbody>
              </table>
              <a th:href="@{'/nuevoEspacio'}"><input type="button" class="btn btn-default" value="Añadir espacio"/></a> 
          	</div> 
        <!-- /.table-responsive-->
    	<a th:href="@{'/administrar/espacio/restaurar'}"><input type="button" class="btn btn-default" value="Restaurar espacios"/></a>
		</div>
		
	</div>
	
	<!-- Pagination -->
 	<div class="row">
    <div class="col-md-12 text-center">
        <div class='pagination pagination-centered'>
            <ul class="pagination">
                <li th:class="${currentIndex == 1}? 'disabled' : ''">
                    <span th:if='${currentIndex == 1}'>← First</span>
                    <a th:if='${currentIndex != 1}'
                       th:href="@{1}">← First</a>
                </li>
                <li th:class="${currentIndex != 1}? '' : 'disabled'">
                    <span th:if='${currentIndex == 1}'>«</span>
                    <a th:if='${currentIndex != 1}'
                       th:href="@{${(currentIndex - 1)}}"
                       title='Go to previous page'>«</a>
                </li>

                <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                    th:class="${item == currentIndex ? 'active' : '' }">

                    <span th:if='${item == currentIndex}' th:text='${item}'>1</span>

                    <a th:if='${item != currentIndex}'
                       th:href="@{${item}}">
                        <span th:text='${item}'>1</span>
                    </a>
                </li>

                <li th:class="${currentIndex != currentResults.totalPages}? '' : 'disabled'">
                    <span th:if='${currentIndex == currentResults.totalPages}'>»</span>
                    <a th:if='${currentIndex != currentResults.totalPages}'
                       th:href="@{${(currentIndex + 1)}}" title='Go to next page'>»</a>
                </li>
                <li th:class="${currentIndex == currentResults.totalPages}? 'disabled' : ''">
                    <span th:if='${currentIndex == currentResults.totalPages}'>Last →</span>
                    <a th:if='${currentIndex != currentResults.totalPages}'
                       th:href="@{${currentResults.totalPages}}">Last →</a>
                </li>
            </ul>
        </div>
    </div>
</div>
 <!-- /.Pagination -->
	
	<div class="modal fade" id="modalEditarEspacio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar espacio</h4>
          </div>
          <div class="modal-body">
          		<form class="form-horizontal" role="form" action="#" th:action="@{/editar}" th:object="${Espacio}" method="put">             
				
				 <!-- Nombre de edificio --> 
                 <div class="form-group">
                     <label for="ejemplo_2" class="col-md-2 control-label">Nombre:</label>
                      <div class="col-md-10">
                         <input id="idNombre" name="nombreEsp" type="text" class="form-control" placeholder="Introduce un nombre de espacio"/>
                      </div>
                 </div>
                 
                 <!-- Capacidad --> 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Capacidad:</label>
                     <div class="col-md-9">
		               <input id="idCapa" name="Capa" type="text" class="form-control" placeholder="Introduce su capacidad"/>
		               
                     </div>
                 </div>
                 
                 <!-- Microfono --> 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Microfono:</label>
                     <div class="col-md-9">
		               
		               <select id = "idMicro" title="¿Tiene microfono">
                     		<option value="true">Si</option>
				          	<option value="false">No</option>
				          	
                     	</select>
                     </div>
                 </div>
                 
                 <!-- Microfono --> 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Proyector:</label>
                     <div class="col-md-9">
                     	<select id = "idProy" title="¿Tiene proyector?">
                     		<option value="true">Si</option>
				          	<option value="false">No</option>
				          	
                     	</select>
		               		               
                     </div>
                 </div>
                 
                 <!-- Tipo espacio --> 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Tipo:</label>
                     <div class="col-md-9">
                     	<select id = "idTipo" title="Tipo de espacio">
                     		<option value="Sala">Sala</option>
				          	<option value="Aula">Aula</option>
				          	<option value="Laboratorio">Laboratorio</option>
                     	</select>
		               
		               
                     </div>
                 </div>
                 
                 <div class="form-group">
                     <label for="ejemplo_3" class="col-md-3 control-label">Edificio:</label>
                     <div class="col-md-9">
                     
                     	<select id="idEdif" name="facul" title="Facultad">
				          
				          <option th:each="f : ${edificios}" th:value="${f.id}" th:text="${f.nombre_edificio}"/> 
				        </select>
		               
		               
                     </div>
                 </div>
                 
                 <div class="row">
                     <div class="col-xs-6 col-md-6">
                      <button id="btn-eliminar" type="button" class="btn-rec red">ELIMINAR</button>
                     </div>
                     <div class="col-xs-6 col-md-6 text-right">
                      <button id="btn-guardar" type="button" class="btn-rec blue">GUARDAR </button>
                     </div>
                 </div>                
             </form>
                 
          </div>
        </div>
      </div>
    </div>
	<script th:inline="javascript">
 var baseURL = /*[[@{/}]]*/ '/';

 $(document).ready(function(){
	 	var espacio = {};
	 	var token = $("meta[name='_csrf']").attr("content");
	 	var header = $("meta[name='_csrf_header']").attr("content");
	 	var reqHeaders = [];
	 	reqHeaders[header] = token;
	 	
	 	$('tr').click(function(){
	 		$('#modalEditarEspacio').modal('show');
	 		
	 		espacio.id =  $(this).attr("data-id");
	 		espacio.nombre_espacio = $(this).attr("name");
	 		espacio.capacidad = $(this).attr("capacidad");
	 		espacio.microfono = $(this).attr("micro");
	 		espacio.proyector = $(this).attr("proye");
	 		espacio.tipoEspacio = $(this).attr("tipo");
	 		espacio.idEdificio = $(this).attr("edificio");

	 		//$('#modalEditarEspacio #idEspacio').text(espacio.id);
	 		$('#modalEditarEspacio #idNombre').attr("value",espacio.nombre_espacio);
	 		$('#modalEditarEspacio #idCapa').attr("value",espacio.capacidad);
	 		$('#modalEditarEspacio #idMicro').attr("value",espacio.microfono);
	 		$('#modalEditarEspacio #idProy').attr("value",espacio.proyector);
	 		$('#modalEditarEspacio #idTipo').attr("value",espacio.tipoEspacio);
	 		$('#modalEditarEspacio #idEdif').attr("value", espacio.idEdificio);
	 		
	 	});
	 	
	 	$("#btn-guardar").click(function(){
	 		espacio.nombre_espacio = $("#modalEditarEspacio #idNombre").val();
	 		espacio.capacidad = $('#modalEditarEspacio #idCapa').val();
	 		espacio.microfono = $('#modalEditarEspacio #idMicro').val();
	 		espacio.proyector = $('#modalEditarEspacio #idProy').val();
	 		espacio.tipoEspacio = $('#modalEditarEspacio #idTipo').val();
	 		espacio.idEdificio = $('#modalEditarEspacio #idEdif').val();
	 		
	 		$.ajax({
	 			url: baseURL + "espacio/" + espacio.id,
	 			type: 'PUT',
	 			headers : reqHeaders,
	 			data: JSON.stringify(espacio),
	 			contentType: 'application/json',
	 			success : function(datos) {   
	 				alert("Espacio actualizado");
	 				$('#modalEditarEspacio').modal('hide');
	 				//$("#"+espacio.id +" td:nth-child(1)").text(espacio.id);
	 				$("#"+espacio.id +" td:nth-child(1)").text(espacio.nombre_espacio);
	 				$("#"+espacio.id +" td:nth-child(2)").text(espacio.capacidad);
	 				$("#"+espacio.id +" td:nth-child(3)").text(espacio.microfono);
	 				$("#"+espacio.id +" td:nth-child(4)").text(espacio.proyector);
	 				$("#"+espacio.id +" td:nth-child(5)").text(espacio.tipoEspacio);
	 				$("#"+espacio.id +" td:nth-child(6)").text(espacio.idEdificio);
	 			},    
	 			error : function(xhr, status) {
	     			alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
	 	$("#btn-eliminar").click(function(){
	 		$.ajax({
	 			url: baseURL + "espacio/" + espacio.id,
	 			type: 'DELETE',
	 			headers : reqHeaders,
	 			success : function(datos) {
	 				alert("Espacio eliminado");
	 				$('#modalEditarEspacio').modal('hide');
	 				$("#"+espacio.id).remove();
	 			},    
	 			error : function(xhr, status) {
	 				alert('Disculpe, existió un problema');
	 			}
	 		});
	 	});
	 
 });
 
 
 </script>			
 </div>
</body>
</html>