<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Listado de espacios</title>
</head>
<body>

            <div class="container-fluid" th:fragment="contenido">
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header text-center">
            <small>Reserva un espacio en tan sólo 3 pasos.</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-6">
         <h3><span class="red">1</span> Selecciona un edificio.</h3><br/>
    </div>                   
</div>
<!-- /.row -->

	<div class="row">
		<div class="col-md-6">
		  <div class="form-group">
		    <label> Facultad :</label>
		    <!-- Autocomplete -->		   
		    <div class="ui-widget">
		    	<input id="autoFacultad" type="text" class="form-control" 
		    	 placeholder="Nombre de la facultad" />  
		    </div>		     
		   </div>
	    </div>
	    <div class="col-md-6">
	      <div class="form-group">
		    <label> Edificio :</label>
		    <select id="selec_edificios" class="form-control">
		    	<option></option>
		    </select>
	     </div>
	    </div>
	                  
	</div>
	<!-- /.row -->
	
	 <div class="row">
	    <div class="col-md-12 text-right page-header">
	         <a id="edificio_link" th:href="@{'edificio/1/espacios'}"><button type="button" class="btn-rec blue">SIGUIENTE <i class="fa fa-angle-right"></i></button></a>
	    </div>                   
	</div>
	<!-- /.row -->


<script>

$("#autoFacultad").autocomplete({
	source:function(request, response){
			var tag = request.term;
			
			$.ajax({
				url: '/reservas/facultad/tag/' + tag,
				type: 'GET',
				contentType: 'application/json',
				success : function(datos) {
									
					response($.map(datos,function(item){
						
							var obj = new Object();
							obj.label = item.id; 
							obj.value = item.nombreFacultad;
							obj.dir = item.dir;
							return obj;
		
					}))
					
				},    
			    error : function(xhr, status) {
			        alert('Disculpe, existió un problema');
			    }
			});
	},
	select: function(event, ui){
		
		$.ajax({
			url: '/reservas/facultad/' + ui.item.label,
			type: 'GET',
			contentType: 'application/json',
			success : function(datos) {
				
				$("#selec_edificios").empty();
				for(var i in datos){
					var text = datos[i].nombre_edificio;
					var value = datos[i].id;
					$("#selec_edificios").append(new Option(text, value));	
				}
			    
			},    
		    error : function(xhr, status) {
		        alert('Disculpe, existió un problema');
		    }
		});
	},
	minLength: 2

}).autocomplete("instance")._renderItem = function(ul,item){
	
		var inner_html = '<div class="col-md-2" style="padding-top:3px;">' + 
		                  '<img class="media-object" src="http://placehold.it/50x50"/>' + 
		                  '</div>' + 
		                  '<div class="col-md-10">' + 
		                  '<p>'+ item.value +'</p>' + 
		                  '<p class="small text-muted">'+ item.dir +'</p>' + 
		                  '</div>';
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append(inner_html)
                    .appendTo(ul);
	
};
	
	$("#selec_edificios").change(function(){
		var id_edificio = $("#selec_edificios").val();
		var link = 'edificio/' + id_edificio + '/espacios';
		$("#edificio_link").attr("href",link);
		
	});
	

</script>
 </div>

            <!-- /.container-fluid -->

</body>
</html>	
