<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Listado de espacios</title>
</head>
<body>

            <div class="container-fluid" th:fragment="contenido">
<!-- Page Heading -->
<div class="row">  
	<div class="col-md-12">
	    <div class="alert alert-info" role="alert">	    
	        <div class="media">		  
			  <div class="media-left">			    
			      <i class="fa fa-building fa-3x"> </i>			   
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading" th:text="${Edificio.nombreEdificio}">Edificio </h4>
			    <p class="text-muted" style="margin-bottom:5px;" th:text="${Edificio.direccion}">FDI</p>
			  </div>
			</div>	
	    </div> 
    </div>                  
</div>
<!-- /.row -->

<!-- Breadcrums 
<ol class="breadcrumb">
  <li><a href="#">Facultad de Informática</a></li>
  <li class="active">FDI</li>
</ol>-->

<!-- Tipo de Espacio -->
<div class="row">
	 <div class="col-md-3">
	 	<div class="form-group">
		 	<label class="control-label">Tipo de Espacio: </label>
			 	<select id="selec_tipoEspacios" class="form-control">
			 		<option value="Todos"> Todos </option>
			 		<option th:each="tipo : ${TiposEspacio}" 
			        		th:text="${tipo}"
			        		th:value="${tipo}">
			 		</option>
			    </select>
	    </div>
	</div>
</div>

<!-- Carousel -->
<div class="owl-carousel owl-theme">
  <div th:each="e : ${Espacios}">
  	<div class="thumbnail" role="button">
      <img th:src="@{/img/aula_1.jpg}"/>
      <h5 class="text-center" th:text="${e.nombreEspacio}">Aula 1</h5>
      <input type="hidden" th:value="${e.id}" /> 
    </div>
  </div>
</div>
<!-- /.Carousel -->


<!-- Separador -->
<div class="page-header" style="margin-top:0px; margin-bottom:10px;"></div>

<!-- row -->
<div class="row">
	<div class="col-md-5 text-center">
    	<!-- imagen principal -->
    	<div id="imgEspacio">
			<h4 th:text="${Espacios.get(0).nombreEspacio}"> Aula 1 </h4>
			<img class="img-responsive" th:src="@{/img/aula_1.jpg}" />
		</div>
	</div>
	<br/>
	<!-- Caracteristicas -->
	<div class="col-md-7">
		<div class="col-md-12">
			<h4 class="text-center"> Características </h4>
				<table id="carEspacio" class="table table-responsive">
				  <tr>
				  	<td><i class="zmdi zmdi-mic zmdi-hc-lg"> </i> Micrófono</td>
				  	<td><i class="zmdi zmdi-hc-lg" th:classappend="${Espacios.get(0).microfono} ? 'zmdi-check' : 'zmdi-close' "> </i></td>
				  </tr>
				   <tr>
				  	<td><i class="zmdi zmdi-laptop-chromebook zmdi-hc-lg"> </i> Ordenador</td>
				  	<td><i class="zmdi zmdi-close zmdi-hc-lg"> </i></td>
				  </tr>
				  <tr>
				  	<td><i class="zmdi zmdi-accounts zmdi-hc-lg"> </i> Aforo</td>
				  	<td>80</td>
				  </tr>
				   <tr>
				  	<td>  <i class="zmdi zmdi-camera-alt zmdi-hc-lg"></i> Proyector</td>
				  	<td><i class="zmdi zmdi-hc-lg" th:classappend="${Espacios.get(0).proyector} ? 'zmdi-check' : 'zmdi-close' "> </i></td>
				  </tr>
				
				</table>	
			</div>
			
			<!-- Restricciones --> 
			<div class="col-md-12">
			    <div class="alert alert-warning" role="alert">	    
			        <div class="media">
					  <div class="media-body">
					    <h4 class="media-heading">Restricciones </h4>
					    <p>No se puede reservar este espacio por más de 2 horas.</p>
					  </div>
					</div>	
			    </div> 
		    </div> 
		       
		</div>
</div>
<!-- /.row -->

<br/>

 <div class="row">
    <div class="col-md-12 text-right page-header">
         <a id="espacio_link" href="espacio/1"><button type="button" class="btn-normal">SIGUIENTE <i class="fa fa-angle-right"></i></button></a>
    </div>                   
</div>
<!-- /.row -->

<script th:inline="javascript">
var baseURL = /*[[@{/}]]*/ '/';
var idEdificio = /*[[${Edificio.id}]]*/ '1';
var numItems = /*[[${Espacios.size()}]]*/ '1';
</script>
<script src="../../js/espacios.js" th:src="@{/js/espacios.js}"></script>
 </div>

            <!-- /.container-fluid -->

</body>
</html>	