<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Listado de espacios</title>
</head>
<body>

            <div class="container-fluid" th:fragment="contenido">
<!-- Page Heading -->
<div class="row">  
	<div class="col-md-12">
	    <div class="alert alert-info" role="alert">
	        <div class="media">
			  <div class="media-left">			    
			      <i class="fa fa-building fa-3x"> </i>			   
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading" th:text="${Edificio.nombreEdificio}">Edificio </h4>
			    <p class="text-muted" th:text="${Edificio.direccion}">FDI</p>
			  </div>
			</div>	
	    </div> 
    </div>                  
</div>
<!-- /.row -->

 <div class="row">
	 <div class="col-md-3">
	 	<div class="form-group">
		 	<label class="control-label">Tipo: </label>
			 	<select id="selec_tipoEspacios" class="form-control">
			 		<option value="Todos"> Todos </option>
			 		<option th:each="tipo : ${TiposEspacio}" 
			        		th:text="${tipo}"
			        		th:value="${tipo}">
			 		</option>
			    </select>
	    </div>
	</div>
	
	<div class="col-md-3">
	 	<div class="form-group">
		 	<label class="control-label">Espacio: </label>	 	
			 	<select id="selec_espacios" class="form-control">
			 		<option th:each="e : ${Espacios}" 
			        		th:text="${e.nombreEspacio}" 
			        		th:value="${e.id}">
			        </option>
			    </select>		   
	    </div>
	</div>
	                   
</div>
<!-- /.row -->

 <div class="row">
    <div class="col-md-12 text-right page-header">
         <a id="espacio_link" href="espacio/1"><button type="button" class="btn-rec blue">SIGUIENTE <i class="fa fa-angle-right"></i></button></a>
    </div>                   
</div>
<!-- /.row -->

<script th:inline="javascript">
/*<![CDATA[*/
          
	$("#selec_tipoEspacios").change(function(){
		var tipoEspacio = $("#selec_tipoEspacios").val();
		var pathname = window.location.pathname;
		var w = pathname.split("/");
		var id_edif = w[3];
		
		$.ajax({
			url: '/reservas/' + id_edif + '/tipoEspacio/' + tipoEspacio,
			type: 'GET',
			contentType: 'application/json',
			success : function(datos) {

				$("#selec_espacios").empty();
				for(var i in datos){
					var text = datos[i].nombreEspacio;
					var value = datos[i].id;
					$("#selec_espacios").append(new Option(text, value));	
				}
			    
			},    
		    error : function(xhr, status) {
		        alert('Disculpe, existió un problema');
		    }
		});
		
	});
	
	$("#selec_espacios").change(function(){
		var id_espacio = $("#selec_espacios").val();
		var link = 'espacio/' + id_espacio;
		$("#espacio_link").attr("href",link);
		
	});
	
	/*]]>*/
</script>
 </div>

            <!-- /.container-fluid -->

</body>
</html>	