<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Grupos</title>
</head>
<body>

<div class="container-fluid" th:fragment="contenido">

<!-- Page Heading -->
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header text-center">
	        <div class="pull-left">           
	        	<a th:href="@{'/grupo/editar/' + ${GrupoReservas.id}}" style="color:#333;"><i class="zmdi zmdi-edit" aria-hidden="true" title="Editar grupo"></i></a>
	        </div>
        
           		Grupo: <small th:inline="text"> [[${GrupoReservas.nombreCorto}]] </small> 
              
	        <div class="pull-right">           
	        	<i th:attr="data-idGrupo=${GrupoReservas.id}" class="fa fa-trash-o" aria-hidden="true" title="Eliminar grupo" data-toggle="modal" data-target="modalEliminarGrupo"></i>
	        </div>
        </h2>
    </div>
</div>
<!-- /.row -->

<!-- Vista -->
<div class="row">
	<div class="col-md-2 col-md-offset-10 text-center">
	  *Calendarios: 
	  <select id="selec_calen">
	  	<option value="1">1</option>
	  	<option value="2">2</option>
	  </select>	
	</div>
</div>
<hr/>

<!-- 1 Calendario -->
<div id="1_calendario" class="row">
   <div id="calendar11" class="col-md-10 col-md-offset-1"></div>
</div> 
 
<!-- 2 Calendarios -->
<div id="2_calendario" class="row">
   <div class="col-md-6 text-center">
   	 <div class="selec_C1 row">
   		<p th:text="${GrupoReservas.nombreCorto}"></p>
     </div>
   	 <div id="calendar21" class="col-md-10 col-md-offset-1"></div>
   </div>
   
   <div class="col-md-6 text-center">
    <div class=" selec_C2 row">
   		<select id="selec_C2_grupo">
   			<option th:each="g : ${GruposReservas}"
   					th:text="${g.nombreCorto}"
   					th:value="${g.id}"
   					th:if="${GrupoReservas.id != g.id}">
   			</option>
   		</select>
     </div>
   	 <div id="calendar22" class="col-md-10 col-md-offset-1"></div>	 
   </div>
</div> 
 
 <!-- Modal Eliminar Grupo -->
 <div class="modal fade" id="modalEliminarGrupo" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Eliminar</h4>
      </div>
      <div class="modal-body">
      	<div class="media">
		  <div class="media-left">
		      <i class="zmdi zmdi-alert-circle-o zmdi-hc-3x"> </i>
		  </div>
		  <div class="media-body">
		   
		    <p th:inline="text">Al eliminar un grupo se eliminarán también todas las reservas que contenga
        	 ¿Desea eliminar el grupo <b>[[${GrupoReservas.nombreCorto}]]</b> de todas formas?</p>
		  </div>
		</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-rec gray" data-dismiss="modal">CANCELAR</button>
        <button id="btn-elimGrupo" type="button" class="btn-rec blue">ACEPTAR</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 <script th:inline="javascript">
 var baseURL = /*[[@{/}]]*/ '/';
 var idGrupo = /*[[${GrupoReservas.id}]]*/ '1';
 </script>
 <script src="../../js/grupo-reservas.js" th:src="@{/js/grupo-reservas.js}"></script>
 
 
 </div>

<!-- /.container-fluid -->

</body>
</html>