<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Grupos</title>
</head>
<body>

<div class="container-fluid" th:fragment="contenido">

<!-- Page Heading -->
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header text-center">
           Grupo de reservas
        </h2>
    </div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <form role="form" action="#" th:action="@{/nuevoGrupo}" th:object="${GrupoReserva}" method="POST">
        	<div class="form-group">
                <label>Nombre corto</label>
                <div class="form-group">           
                  <input name="nombreCorto" type="text" class="form-control" />
                  <p class="small help-block">Máximo 15 caracteres</p>
                </div>
            </div>
            <div class="form-group">
                <label>Nombre largo</label>
                <div class="form-group">           
                  <input name="nombreLargo" type="text" class="form-control" />
                  <p class="small help-block">Máximo 30 caracteres</p>
                </div>
            </div>
            <div class="row text-center">
            <button type="submit" class="btn-rec blue"> CREAR </button>
            </div>
        </form>
    </div>
</div>
<!-- /.row -->

 
 </div>

<!-- /.container-fluid -->

</body>
</html>