<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Grupos</title>
</head>
<body>

<div class="container-fluid" th:fragment="contenido">

<div class="row" th:if="${exito}">
	<div class="col-md-12">
		<div class="alert alert-success" role="alert">
	        <div class="media">	
	       		 <button type="button" class="close" data-dismiss="alert" aria-label="Close">			 
				  <i class="zmdi zmdi-close"> </i>
				 </button>	 
			  <div class="media-body">		
			    <p class="text-muted" style="margin-bottom:5px;"><b>Grupo de reservas creado</b>. Para verlo, pulse 
			    	<a th:href="@{'grupo/' + ${exito}}"><b>aquí</b></a>
			    </p>
			  </div>
			</div>	
	    </div>
	</div>
</div>

<!-- Page Heading -->
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header text-center">
           Grupo de reservas
        </h2>
    </div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <form role="form" action="#" th:action="@{/nuevoGrupo}" th:object="${GrupoReserva}" method="POST">
        	<div class="form-group">
                <label>Nombre corto</label>
                <div class="form-group">           
                  <input name="nombreCorto" type="text" class="form-control" />
                  <p class="small help-block">Máximo 15 caracteres</p>
                </div>
            </div>
            <div class="form-group">
                <label>Nombre largo</label>
                <div class="form-group">           
                  <input name="nombreLargo" type="text" class="form-control" />
                  <p class="small help-block">Máximo 30 caracteres</p>
                </div>
            </div>
            <div class="row text-center">
            <button type="submit" class="btn-normal"> CREAR </button>
            </div>
        </form>
    </div>
</div>
<!-- /.row -->

 
 </div>

<!-- /.container-fluid -->

</body>
</html>