<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Restaurar facultades</title>
    
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	<div class="row">
	    <div class="col-md-12">
	        <h1 class="page-header text-center">
	            Administrar
	        </h1>
	    </div>
	</div>
	<!-- /.row -->
	<div class="row">
    	<div class="col-md-12">
            <h1 class="page-header text-center">
                <small>Restaurar facultades</small>
            </h1>
        </div>
    </div>
           <!-- /.row -->

    <div class="row">
		<div class="col-md-8 col-md-offset-2">
    	
			<div class="jumbotron text-center" th:if="${#lists.isEmpty(facultades)}">
           			<i class="fa fa-ban fa-5x"></i>
           			<h4>¡Uups! No hay ninguna facultad.</h4>
      		</div> 

          	<div class="table-responsive" th:unless="${#lists.isEmpty(facultades)}">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Dirección</th>
                          <th>Acción</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="r : ${facultades}"
                      	th:attr="id=${r.id},data-id=${r.id},name=${r.nombreFacultad}, dir=${r.dir}">
                      	
                          <td th:text="${r.nombreFacultad}"></td>
                          <td th:text="${r.dir}"></td>
                          <td><a th:href="@{'/administrar/facultad/restaurar/' + ${r.id}}"><input type="button" class="btn btn-default" value="Restaurar"/></a></td>
                      </tr>     
                  </tbody>
              </table>
              
          	</div> 
        <!-- /.table-responsive-->
    
		</div>
	</div>

 
</div>
</body>
</html>