<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Restaurar espacios</title>
    
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	<div class="row">
	    <div class="col-md-12">
	        <h1 class="page-header text-center">
	            Administrar
	        </h1>
	    </div>
	</div>
	<!-- /.row -->
	<div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center">
                <small>Restaurar espacios</small>
            </h1>
        </div>
    </div>
	<div class="row">
    	<div class="col-md-8 col-md-offset-2">
         	
			<div class="jumbotron text-center" th:if="${#lists.isEmpty(espacios)}">
                <i class="fa fa-ban fa-5x"></i>
                <h4>¡Uups! No hay ningún espacio.</h4>
           </div> 
			
            <div class="table-responsive" th:unless="${#lists.isEmpty(espacios)}">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Capacidad</th>
                          <th>Micrófono</th>
                          <th>Proyector</th>
                          <th>Tipo de espacio</th>
                          <th>Edificio</th>
                          <th>Acción</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:each="r : ${espacios}"
                      	th:attr="data-id=${r.id},name=${r.nombre_espacio},capacidad=${r.capacidad},micro=${r.microfono},proye=${r.proyector},tipo=${r.tipoEspacio.tipo}, edificio = ${r.edificio.nombre_edificio}">
                      	
                        <td th:text="${r.nombre_espacio}"></td>
                        <td th:text="${r.capacidad}"></td>
                        <td th:if="${!r.microfono}">No</td>
                        <td th:if="${r.microfono}">Si</td>
                        <td th:if="${!r.proyector}">No</td>
                        <td th:if="${r.proyector}">Si</td>
                        <td th:text="${r.tipoEspacio.tipo}"></td> 
                        <td th:text="${r.edificio.nombre_edificio}"></td> 
                        <td><a th:href="@{'/administrar/espacio/restaurar/' + ${r.id}}"><input type="button" class="btn btn-default" value="Restaurar"/></a></td>
                      </tr>     
                  </tbody>
              </table>
             <!-- /.table-responsive-->
         
     	</div>
 	</div>

 </div>
</div>
</body>
</html>