<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Reservas por espacios</title>
</head>
<body>

<div class="container-fluid" th:fragment="contenido">

	<!-- Page Heading -->
	<div class="row">
	    <div class="col-md-12">
	        <h2 class="page-header text-center">
	        <div class="pull-left">
	        	<a th:href="@{/perfil/editar}" style="color:#333;"><i class="zmdi zmdi-edit" title="Editar Perfil"></i></a>
	        </div>
	            Mi Perfil
	        </h2>
	    </div>
	</div>
	<!-- /.row -->
	
	<div class="row">
	    <div class="col-md-6 col-md-offset-3 text-center">
	        <img class="img-circle" src="http://placehold.it/150x150" />
	        <h3 th:text="${#strings.toUpperCase(User.username)}"></h3>
	        <em class="text-muted" th:text="${User.email}"></em>
	        <hr/>
	        <i class="fa fa-building fa-2x"> </i>
		    <h4 th:text="${User.facultad.nombreFacultad}"></h4>
			<p class="small text-muted" th:text="${User.facultad.webFacultad}"></p>    
	    </div>
	</div>
	<!-- /.row -->

</div>
<!-- /.container-fluid -->


 <footer>
  <div class="row">
       <div class="div-footer text-center">
          <i class="fa fa-copyright"></i> UCM Reservas - 2016
       </div>
  </div>
</footer>
                   
</body>
</html>