<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Reservas por espacios</title>
</head>
<body>

<div class="container-fluid" th:fragment="contenido">
            
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header text-center" th:text="${Reserva.espacio.nombreEspacio}"></h2>
    </div>
</div>
<!-- /.row -->

<!-- Filtro -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1 filtro">
	    <div class="col-xs-4 text-center">
	         <div class="checkbox">		   
			       FILTROS:		    
			 </div>
		</div>   
		<div class="col-xs-4 text-center">
	         <div class="checkbox">
			    <label>
			      <input id="checkMan" type="checkbox"/> De mañana
			    </label>
			 </div>
		</div>
		<div class="col-xs-4 text-center">
	         <div class="checkbox">
			    <label>
			      <input id="checkTar" type="checkbox"/> De tarde
			    </label>
			 </div>
		</div>
	</div>		
    
</div>
<!-- /.row -->
 
<!-- Alerta solapamiento -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1" style="padding-left: 0px; padding-right:0px;">
	    <div class="alert alert-danger" role="alert" style="display:none;">
	        <div class="media">	
	        	<button id="alertClose" type="button" class="close" aria-label="Close">			 
				  <i class="zmdi zmdi-close"> </i>
				</button>		 
			    <b><p class="text-muted" id="alertMsg" style="margin-bottom: 5px;"></p></b>		 
			</div>	
	    </div> 
    </div> 
</div>
  
 <div class="row">
    <!-- Calendario -->
    <div id="calendar" class="col-md-10 col-md-offset-1">
 
	</div>
</div>
<hr/>

 <!-- Crear Reserva --> 
 <div class="modal fade" id="modalCrearReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Crear Reserva</h4>
          </div>
          <div class="modal-body">
          		<form class="form-horizontal" role="form" action="#" th:action="@{'/nueva'}" th:object="${Reserva}" method="post">
                   
 				   <!-- Asunto --> 
                   <div class="form-group">
                       <label for="ejemplo_2" class="col-md-2 control-label">Asunto:</label>
                        <div class="col-md-10">
                           <input id="idAsunto" name="asunto" type="text" class="form-control" placeholder="Introduce un asunto"/>
                        </div>
                   </div>
                   
                   <!-- Fecha inicio --> 
                   <div class="form-group">
                       <label for="ejemplo_3" class="col-md-3 control-label">Desde:</label>
                        <div class="col-md-9">
                         <div class='input-group date' >
			                <input name="comienzo" id="datetimepicker1" type='text' class="form-control" th:readonly="readonly" />
			                <span class="input-group-addon">
			                    <span class="fa fa-calendar"></span>
			                </span>
			             </div>
                         </div>
                   </div>
                   
                   <!-- Fecha fin --> 
                   <div class="form-group">
                       <label for="ejemplo_3" class="col-md-3 control-label">Hasta:</label>
                        <div class="col-md-9">
                         <div class='input-group date' >
			                <input name="fin" id="datetimepicker2" type='text' class="form-control" th:readonly="readonly" />
			                <span class="input-group-addon">
			                    <span class="fa fa-calendar"></span>
			                </span>
			             </div>
                         </div>
                   </div>
                   
                    <!-- Color  -->
                   <div class="form-group">
                       <label for="ejemplo_3" class="col-md-2 control-label">Color:</label>
                        <div class="col-md-10">
                         	<div id="cp2" class="input-group colorpicker-component">
							    <input type="text" value="#00AABB" class="form-control" th:readonly="readonly"/>
							    <span class="input-group-addon"><i></i></span>
							</div>                        	                    	
                        </div>
                   </div> 
                   
                   <!-- Asignar a grupo -->
                   
	   				   	<div class="form-group ">
					         <label class="col-md-3 control-label">Asignar a Grupo:</label>
					          <div class="col-md-9">
	                         	   <select id="selec_grupo" class="form-control">
	                         	   	<option value="0">Ninguno</option>
	                         	   	<option th:each="g : ${GruposReservas}"
	                         	   			th:text="${g.nombreCorto}"
	                         	   			th:value="${g.id}">
	                         	   	</option>
	                         	   </select>                     	                    	
                        	  </div>
						</div>
					
					
                   <!-- Repetir -->
					<div class="col-md-11">
	   				   	<div class="form-group ">
					        <div class="checkbox">
								<label>
								    <input id="checkRepetir" type="checkbox" /> Repetir
								</label>
							</div>
						</div>
					</div>
   				   	
   				   	
   				   	<div id="repetir" class="row" style="background:#ddf06c;">
   				   		
	   				   		<div class="col-md-10">
		   				   		<div class="form-group ">
						            <label class="col-md-3 control-label">Se repite:</label>
						            <div class="col-md-9">
							            <select id="selec_frec" class="form-control">
							            	<option value="WEEKLY">Cada semana</option>
							            	<option value="DAILY">Cada dia</option>
							            	<option value="MONTHLY">Cada mes</option>
							            	<option value="YEARLY">Cada año</option>
							            	<option value="WEEKLY">Todos los dias laborables (de lunes a viernes)</option>
							            	<option value="WEEKLY">Todos los lunes, miercoles y viernes</option>
							            	<option value="WEEKLY">Todos los martes y jueves</option>
							            </select>
						            </div>
								</div>
							</div>
						
						
							<div id="repetirCada" class="col-md-10">
		   				   		<div class="form-group ">
						            <label class="col-md-3 control-label">Repetir cada:</label>
						            <div class="col-md-3">
							            <select id="selec_inter" class="form-control">
							            	<option th:each="i : ${#numbers.sequence(1,30)}" 
							            	        th:value="${i}"
							            	        th:text="${i}"></option>
							            	
							            </select>
						            </div>
						            
						            <label id="lb_repetirCada" class="control-label">semanas</label>
								</div>
							</div>
							
							<div id="diasSemana" class="col-md-10">
							  <div class="form-group">
							  	<label class="col-md-3 control-label">Repetir el:</label>
							  	<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkL" type="checkbox" />L
								    </label>
								</div>
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkM" type="checkbox" />M
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkX" type="checkbox" />X
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkJ" type="checkbox" />J
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkV" type="checkbox" />V
								    </label>
								</div>
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkS" type="checkbox" />S
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkD" type="checkbox" />D
								    </label>
								</div>      								    						    
							  </div>
							</div>
							
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-md-3 control-label"> Empieza el:</label>
									<div class="col-md-4">
										<input id="empieza_el" type="text" class="form-control" th:disabled="true"/>
									</div>
								</div>
							</div>
							
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-md-3 control-label"> Finaliza:</label>
									
									<div class="col-md-9">	
										
											<div class="col-md-3" style='padding-left:0px;padding-right:0px'>
												<div class="radio">
													<label>
														<input type="radio" name="op" id="op_1" th:checked="true" /> Al cabo de									
													</label>
												</div>
											</div>
										
											<div class="col-md-3">
												<input id="count_repet" type="text" class="form-control" value="5"/>
											</div>
											<div class="col-md-4" style='padding-left:0px'>
												<p class="form-control-static">repeticiones</p>
											</div>												
										
									</div>	
									<div class="col-md-9 col-md-offset-3">	
										<div class="col-md-1" style='padding-left:0px;padding-right:0px'>
												<div class="radio">
													<label>
														<input type="radio" name="op" id="op_2" /> El									
													</label>
												</div>
											</div>
										
											<div class="col-md-9">
												<div class='input-group date' >
									                <input name="comienzo" id="datetimepicker3" type='text' class="form-control" th:readonly="readonly" />
									                <span class="input-group-addon">
									                    <span class="fa fa-calendar"></span>
									                </span>
									             </div>
											</div>
												
									</div>
								</div>
							</div>
												
						
   				   </div>
					
					 <!-- Tipo de espacio --> 
                   <div class="col-md-4">
                     <div class="form-group">
                        <label for="ejemplo_1" class="col-md-3 control-label">Tipo:</label>
                         
                       <div class="col-md-9">
                       	 <p class="form-control-static" th:text="*{espacio.tipoEspacio}"></p>                                     
                       </div>
                     </div>
                   </div>
                   
                   <!-- Espacios --> 
                   <div class="col-md-8">
                     <div class="form-group">
                        <label for="ejemplo_1" class="col-md-2 control-label">Espacio:</label>
                        
                      <div class="col-md-10">
                       	   <p class="form-control-static" th:text="*{espacio.nombreEspacio}"></p>                      	   
                           <input id="esp_hidden" type="hidden" th:field="*{espacio.id}" />                                    
                      </div> 
                     </div>
                   </div>
					
                   <div class="row">  
                    <div class="col-md-12 text-right">                		
				        <a class="btn-rec gray" data-dismiss="modal" aria-label="Close" role="button">CANCELAR</a>
				        <a id="enlaceCrearReserva" class="btn-rec blue" role="button">CREAR</a>					    
   					</div> 
                   </div>                
               </form>
                 
          </div>
        </div>
      </div>
    </div>
    
  
  <!-- Modal Eliminar Reserva Simple -->
 <div class="modal fade" id="modalEliminarReservaSimple" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">¿Eliminar reserva?</h4>
          </div>
          <div class="modal-body">
          	
          </div>
          <div class="modal-footer">
	        <a class="btn-rec gray" data-dismiss="modal" aria-label="Close" role="button">CANCELAR</a>
	        <a id="aceptarEliminar" class="btn-rec blue" role="button">ACEPTAR</a>
	      </div>
       </div>
     </div>
</div>
 
 <!-- Modal Eliminar Reserva Recurrente -->
 <div class="modal fade" id="modalRecurrente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Eliminar Reserva Periódica</h4>
          </div>
          <div class="modal-body">
          	<div class="row">
            	<div class="col-xs-12">
            		<div class="col-xs-4">
            			 <button id="solo_esta" class="btn-normal">Sólo ésta</button>
            		</div>
            		<div class="col-xs-8" style="padding-top:6px;">
            			 Se eliminará sólo esta reserva.
            		</div>
          		</div>
          	</div>
          	<br/>
          	<div class="row">
          		<div class="col-xs-12">
	          		<div class="col-xs-4">
	          			<button id="toda_la_serie" class="btn-normal">Toda la serie</button>
	          		</div>         	  	 
	          	  	<div class="col-xs-8" style="padding-top:6px;">
	          	  	 	Se eliminarán todas las reservas de la serie.
	          	  	</div>        	  	
          		</div>
          	</div>
          </div>
       </div>
     </div>
</div>

<script th:inline="javascript">		
	var baseURL = /*[[@{/}]]*/ '/';
	var idEspacio = /*[[${IdEspacio}]]*/ '1';	
</script>
<script src="../../js/reservas-calendario.js" th:src="@{/js/reservas-calendario.js}"></script>
</div>

    <!-- /.container-fluid -->

</body>
</html>	
