<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Reservas por espacios</title>
</head>
<body>

            <div class="container-fluid" th:fragment="contenido">
            
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header text-center">
            <small>Ya casi has terminado, seleccione la fecha y la hora.</small>
        </h1>
    </div>
</div>
<!-- /.row -->
<!--  
<div class="row">
    <div class="col-md-6">
         <h3><span class="red">3</span> Elige un día.</h3><br/>
    </div>                   
</div> -->
<!-- /.row -->

<!-- Filtro -->
<div class="row">
    <div id="filtro" class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" role="form">
        
			<div class="col-md-2 text-center">
	            <div class="checkbox">
				    <label>
				      <input id="checkReservas" type="checkbox" th:checked="${checked}"/> Mis reservas
				    </label>
				 </div>
			</div>
			<div class="col-md-2 text-center">
	            <div class="checkbox">
				    <label>
				      <input id="checkMan" type="checkbox" /> De mañana
				    </label>
				 </div>
			</div>
			<div class="col-md-2 text-center">
	            <div class="checkbox">
				    <label>
				      <input id="checkTar" type="checkbox" /> De tarde
				    </label>
				 </div>
			</div>
			<div class="col-md-6 text-right">
	           <button id="btn-filtro" type="button" class="btn-rec gray">FILTRAR <i class="fa fa-arrow-right"></i></button>
			</div>
            <!--<div class="col-md-4">
                <div class="form-group">
                    <label for="ejemplo_1" class="col-md-2 control-label">Espacios: </label>
                    <div class="col-md-9">
                        <select class="form-control">
                          <option>Todos</option>
                          <option>Aula</option>
                          <option>Sala</option>
                          <option>Laboratorio</option>                        
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ejemplo_1" class="col-md-2 control-label">Reservas: </label>
                    <div class="col-md-9">
                        <select class="form-control">
                          <option>Todas</option>
                          <option>Mis reservas</option>
                          <option>De mañana</option>
                          <option>De tarde</option>
                          
                        </select>
                        
                    </div>
                    </div>
                </div>
            
            <div class="col-md-4 text-right">
               <button type="submit" class="btn btn-primary blue">Filtrar <i class="fa fa-filter"></i></button>
            </div>-->
        
     </form>
    </div>
</div><br/>
<!-- /.row -->

  
 <div class="row">
    <!-- Calendario -->
    <div id="calendar" class="col-md-10 col-md-offset-1">
 
	</div>
</div>
<hr/>

 <!-- Crear Reserva --> 
 <div class="modal fade" id="modalCrearReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Crear reserva</h4>
          </div>
          <div class="modal-body">
          		<form class="form-horizontal" role="form" action="#" th:action="@{'/nueva'}" th:object="${Reserva}" method="post">
                   
 				   <!-- Asunto --> 
                   <div class="form-group">
                       <label for="ejemplo_2" class="col-md-2 control-label">Asunto:</label>
                        <div class="col-md-10">
                           <input id="idAsunto" name="asunto" type="text" class="form-control" placeholder="Introduce un asunto"/>
                        </div>
                   </div>
                   
                   <!-- Fecha inicio --> 
                   <div class="form-group">
                       <label for="ejemplo_3" class="col-md-3 control-label">Desde:</label>
                        <div class="col-md-9">
                         <div class='input-group date' >
			                <input name="comienzo" id="datetimepicker1" type='text' class="form-control" />
			                <span class="input-group-addon">
			                    <span class="fa fa-calendar"></span>
			                </span>
			             </div>
                         </div>
                   </div>
                   
                   <!-- Fecha fin --> 
                   <div class="form-group">
                       <label for="ejemplo_3" class="col-md-3 control-label">Hasta:</label>
                        <div class="col-md-9">
                         <div class='input-group date' >
			                <input name="fin" id="datetimepicker2" type='text' class="form-control" />
			                <span class="input-group-addon">
			                    <span class="fa fa-calendar"></span>
			                </span>
			             </div>
                         </div>
                   </div>
                   
                   
                   <!-- Repetir -->
					<div class="col-md-11">
	   				   	<div class="form-group ">
					        <div class="checkbox">
								<label>
								    <input id="checkRepetir" type="checkbox" /> Repetir
								</label>
							</div>
						</div>
					</div>
   				   	
   				   	
   				   	<div id="repetir" class="row">
   				   		
	   				   		<div class="col-md-10">
		   				   		<div class="form-group ">
						            <label class="col-md-3 control-label">Se repite:</label>
						            <div class="col-md-9">
							            <select id="selec_frec" class="form-control">
							            	<option value="WEEKLY">Cada semana</option>
							            	<option value="DAYLY">Cada dia</option>
							            	<option value="MONTHLY">Cada mes</option>
							            	<option value="YEARLY">Cada año</option>
							            	<option value="WEEKLY">Todos los dias laborables (de lunes a viernes)</option>
							            	<option value="WEEKLY">Todos los lunes, miercoles y viernes</option>
							            	<option value="WEEKLY">Todos los martes y jueves</option>
							            </select>
						            </div>
								</div>
							</div>
						
						
							<div id="repetirCada" class="col-md-10">
		   				   		<div class="form-group ">
						            <label class="col-md-3 control-label">Repetir cada:</label>
						            <div class="col-md-3">
							            <select id="selec_inter" class="form-control">
							            	<option value="1">1</option>
							            	<option value="2">2</option>
							            	<option value="3">3</option>
							            </select>
						            </div>
						            
						            <label id="lb_repetirCada" class="control-label">semanas</label>
								</div>
							</div>
							
							<div id="diasSemana" class="col-md-10">
							  <div class="form-group">
							  	<label class="col-md-3 control-label">Repetir el:</label>
							  	<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkL" type="checkbox" />L
								    </label>
								</div>
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkM" type="checkbox" />M
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkX" type="checkbox" />X
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkJ" type="checkbox" />J
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkV" type="checkbox" />V
								    </label>
								</div>
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkS" type="checkbox" />S
								    </label>
								</div> 
								<div class="col-md-1 checkbox">
								  	<label>
								      <input id="checkD" type="checkbox" />D
								    </label>
								</div>      								    						    
							  </div>
							</div>
							
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-md-3 control-label"> Empieza el:</label>
									<div class="col-md-4">
										<input id="empieza_el" type="text" class="form-control" th:disabled="true"/>
									</div>
								</div>
							</div>
							
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-md-3 control-label"> Finaliza:</label>
									<div class="col-md-9">
										<div class="radio">
											<label>
												<input type="radio" name="op" id="op_1" th:checked="true"/> Nunca
											</label>
										</div>
									</div>
									<div class="col-md-9 col-md-offset-3">	
										
											<div class="col-md-3" style='padding-left:0px;padding-right:0px'>
												<div class="radio">
													<label>
														<input type="radio" name="op" id="op_2"  /> Al cabo de									
													</label>
												</div>
											</div>
										
											<div class="col-md-3">
												<input type="text" class="form-control" />
											</div>
											<div class="col-md-4" style='padding-left:0px'>
												<p class="form-control-static">repeticiones</p>
											</div>												
										
									</div>	
									<div class="col-md-9 col-md-offset-3">	
										<div class="col-md-1" style='padding-left:0px;padding-right:0px'>
												<div class="radio">
													<label>
														<input type="radio" name="op" id="op_3" /> El									
													</label>
												</div>
											</div>
										
											<div class="col-md-9">
												<div class='input-group date' >
									                <input name="comienzo" id="datetimepicker1" type='text' class="form-control" />
									                <span class="input-group-addon">
									                    <span class="fa fa-calendar"></span>
									                </span>
									             </div>
											</div>
												
									</div>
								</div>
							</div>
							
							
							
							<div class="col-md-10">
								<div class="form-group">
									<label class="col-md-2 control-label"> Resumen:</label>
									<div class="col-md-10">
										<p id="resumen" class="form-control-static">cada semana los martes</p>
									</div>
								</div>
							</div>
						
   				   </div>
					
					 <!-- Tipo de espacio --> 
                   <div class="col-md-4">
                     <div class="form-group">
                        <label for="ejemplo_1" class="col-md-3 control-label">Tipo:</label>
                         
                       <div class="col-md-9">
                       	 <p class="form-control-static" th:text="*{espacio.tipoEspacio}"></p>
                       	<!-- <input type="hidden" th:value="${espacio.tipoEspacio}"/>
                             <select id="seleccionTipoEspacios" class="form-control">
                              <option>Sala</option>
                              <option>Aula</option> 
                            </select>   -->                    
                       </div>
                     </div>
                   </div>
                   
                   <!-- Espacios --> 
                   <div class="col-md-8">
                     <div class="form-group">
                        <label for="ejemplo_1" class="col-md-2 control-label">Espacio:</label>
                        
                      <div class="col-md-10">
                       	   <p class="form-control-static" th:text="*{espacio.nombreEspacio}"></p>
                       	   
                           <input id="esp_hidden" type="hidden" th:field="*{espacio.id}" />
                            <!-- <select id="seleccionEspacios" class="form-control">
						        <option th:each="s : ${allSpaces}" 
						        		th:text="${s.nombre_espacio}" 
						        		th:value="${s.id}"
						        		th:selected="espacio.nombre_espacio"
						        		name="espacio.nombre_espacio">
						        </option>
						   </select>   -->                  
                       </div> 
                     </div>
                   </div>
					
                   <div class="row">
                       <div class="col-xs-6 col-md-6">
                        <a href="#"><button type="submit" class="btn-rec yellow">VACIAR</button></a>
                       </div>
                       <div class="col-xs-6 col-md-6 text-right">
                        <button id="btn-crearReserva" type="submit" class="btn-rec green">CREAR</button>
                       </div>
                   </div>                
               </form>
                 
          </div>
        </div>
      </div>
    </div>
    
  
  
  <!-- Modal confirmación -->
  <div class="modal fade bs-example-modal-sm" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Modal title</h4>
		  </div>
	      <div class="modal-footer">
	        <button id="modalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button id="modalConfirm" type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
  </div>

<script th:inline="javascript">
	
		/*<![CDATA[*/
		var baseURL = /*[[@{/}]]*/ '/';
		
		$(document).ready(function(){
			var reserva = {};
		 	var token = $("meta[name='_csrf']").attr("content");
		 	var header = $("meta[name='_csrf_header']").attr("content");
		 	var reqHeaders = [];
		 	reqHeaders[header] = token;
			
		 	
		 	
		 	///////
		 	var resumen = ["Cada","semana"];
		 	console.log(resumen.join(" "));
		 	
		 	$("#selec_inter").change(function(){
		 		
		 	});
		 	
		 	$("#selec_frec").change(function(){
		 		var t = $("#selec_frec option:selected").text();
		 		console.log(t);
		 		desmarcarCkecks();
		 		
		 		if(t == 'Todos los lunes, miercoles y viernes'){
		 			$("#repetirCada").addClass("hidden");
		 			$("#diasSemana").addClass("hidden");
		 			
		 			var dow = ["L","X","V"];
		 			marcarChecks(dow);
		 			resumen = "Cada semana los lunes, miercoles y viernes";
		 			$("#resumen").text(resumen);
		 		}
		 		else if(t == 'Todos los martes y jueves'){	 			
		 			$("#repetirCada").addClass("hidden");
		 			$("#diasSemana").addClass("hidden");
		 			
		 			var dow = ["M","J"];
		 			marcarChecks(dow);
		 			resumen = "Cada semana los martes y jueves";
		 			$("#resumen").text(resumen);
		 		}
				else if(t == 'Todos los dias laborables (de lunes a viernes)'){				
		 			$("#repetirCada").addClass("hidden");
		 			$("#diasSemana").addClass("hidden");
		 			
		 			var dow = ["L","M","X","J","V"];
		 			marcarChecks(dow);
		 			resumen = "Cada semana los dias laborables";
		 			$("#resumen").text(resumen);
		 		}
				else if(t == 'Cada dia'){
					
					$("#repetirCada").removeClass("hidden");
					$("#diasSemana").addClass("hidden");
					var w = t.split(' ');
					$("#lb_repetirCada").text(w[1] + 's');
					
   				    resumen = "Cada día los ...";				
		 			$("#resumen").text(resumen);
		 		}
				else if(t == 'Cada semana'){
					
					$("#repetirCada").removeClass("hidden");
					$("#diasSemana").removeClass("hidden");
					var w = t.split(' ');
					$("#lb_repetirCada").text(w[1] + 's');
		 		
					resumen = "Cada semana los ...";				
		 			$("#resumen").text(resumen);
					// marcar el check del dia
					
		 		}
				else if(t == 'Cada mes'){
					
					$("#repetirCada").removeClass("hidden");
					$("#diasSemana").addClass("hidden");
					// añadir nuevo div
					var w = t.split(' ');
					$("#lb_repetirCada").text(w[1] + 'es');
					
					resumen = "Cada mes el día ...";					
					$("#resumen").text(resumen);
		 		}
				else{
					
					$("#diasSemana").addClass("hidden");
					var w = t.split(' ');
					$("#lb_repetirCada").text(w[1] + 's');
				}
		 		
		 		console.log(daysChecked());
		 	});
		 	
		 	function desmarcarCkecks(){
		 		var dow = ["L","M","X","J","V","S","D"];
		 		for(var i in dow){
		 			$("#check" + dow[i]).prop("checked",false);		 					
		 		}
		 	}
		 	
		 	function marcarChecks(array){
		 		for(var i in array){
		 			$("#check" + array[i]).prop("checked",true);		 					
		 		}
		 	}
		 	
		 	function daysChecked(){
		 		var dow = ["L","M","X","J","V","S","D"];
		 		var c = [];
		 		for(var i in dow){
		 			if($("#check" + dow[i]).is(':checked')){
		 				c.push(dow[i]);
		 			}
		 		}
		 		
		 		return c.join(",");
		 	}
		 	
		 	$("#btn-crearReserva").click(function(){
		 		var recurrencia = [];
		 		var rrule = "RRULE:";
		 		var freq = "FREQ=" + $("#selec_frec").val();
		 		var interval = "INTERVAL=" + $("#selec_inter").val();;
		 		var count = "COUNT=";
		 		var until = "UNTIL=";
		 		var byday = "BYDAY=" + daysChecked();
		 		
		 		var rdate = "RDATE:";
		 		var exdate = "EXDATE:";
		 		
		 		rrule = rrule + freq + ";" + interval + ";" + count + ";" + byday;
		 		recurrencia.push(rrule);
		 		
		 		console.log(recurrencia);
		 	});
		 	///////
		 	
			$("#checkRepetir").change(function(){
				if(this.checked){
					$("#repetir").css("display","block");
				}
				else{
					$("#repetir").css("display","none");
				}
			});
			
			var pathname = window.location.pathname;
			var w = pathname.split("/");
			var id_espacio = w[5]; 
			
			
			$('#calendar').fullCalendar({
				lang: 'es',
				timezone: 'local',
			    header: {
			        left: 'prev,next today',
			        center: 'title',
			        right: 'month,agendaWeek,agendaDay'
			    },
			    
			    eventClick : function(calEvent,jsEvent, view) {
					$('#modalEditarReserva').modal('show');
					$('#modalEditarReserva #idAsunto').attr("value",calEvent.title);
					$('#modalEditarReserva #datetimepicker1').attr("value",calEvent.start.format("DD/MM/YYYY HH:mm"));
					$('#modalEditarReserva #datetimepicker2').attr("value",calEvent.end.format("DD/MM/YYYY HH:mm"));

				},
			    defaultDate: '2016-03-12',
			    editable: true,
			    eventLimit: true,
			    eventRender : function(event,element,view) {
			    
			    	if(view.name == 'month'){
						element.popover({
							
								placement : 'auto',
								html : true,
								trigger : 'hover',
								animation : 'true',
								container:'#calendar',
								content : "<b>" + event.nombreEspacio +
										  "</b><br/>" + event.start.format("HH:mm") + "-" + event.end.format("HH:mm") + 
										  "<br/>" + event.title
							});
			    	}
					
				},
				selectable : true,
			    select : function(start, end) {
					$('#modalCrearReserva').modal('show');
					var d = new Date();
					var eventData = {
						start : start,
						end : end.subtract(1,'day'),
					};
					// redondeo de minutos
					var m = redondeoMinutos(d.getMinutes());
					
					
					// hora actual para start, +1 para end				
					eventData.start.hours(d.getHours());
					eventData.start.minutes(m);
					eventData.end.hours(d.getHours()).add(1,'hour');
					eventData.end.minutes(m);
					
					$("#datetimepicker1").attr("value",eventData.start.format("DD/MM/YYYY HH:mm"));
					$("#datetimepicker2").attr("value",eventData.end.format("DD/MM/YYYY HH:mm"));
					
					$("#empieza_el").attr("value",eventData.end.format("DD/MM/YYYY"));

					//Desmarca el evento si no se ha creado
					$('#calendar').fullCalendar('unselect');
				},
				// para cambiar la duracion del evento
				eventResize: function(event, delta, revertFunc, jsEvent) {

			        var s = "El evento ahora durará hasta el " + event.end.format("DD/MM/YYYY HH:mm") +
			        		" ¿Esta de acuerdo?";
			      			        
			        if (confirm(s)) {
			        	reserva.id = event.id;
			        	reserva.title = event.title;
			        	reserva.start = event.start;
			        	reserva.end = event.end;
			        	reserva.idEspacio = event.idEspacio;
			        	$.ajax({
				 			url: baseURL + 'reserva/' + reserva.id,
				 			type: 'PUT',
				 			headers : reqHeaders,
				 			data: JSON.stringify(reserva),
				 			contentType: 'application/json',
				 			success : function(datos) {   
				 				alert("Reserva actualizada");
				 				
				 			},    
				 			error : function(xhr, status) {
				 				revertFunc();
				     			alert('Disculpe, existió un problema');
				     			
				 			}
				 		});
			        	
			        }
			        else{
			        	 revertFunc();
			        }


			    },
			    eventDrop: function(event, delta, revertFunc) {
			    	var s = "El evento se va a cambiar al día " + event.start.format("DD/MM/YYYY") +
		        		    " de " + event.start.format("HH:mm") + " a " + event.end.format("HH:mm") + " ¿Esta de acuerdo?";
			   
			        if (confirm(s)) {
			        	reserva.id = event.id;
			        	reserva.title = event.title;
			        	reserva.start = event.start;
			        	reserva.end = event.end;
			        	reserva.idEspacio = event.idEspacio;
			        	$.ajax({
				 			url: baseURL + 'reserva/' + reserva.id,
				 			type: 'PUT',
				 			headers : reqHeaders,
				 			data: JSON.stringify(reserva),
				 			contentType: 'application/json',
				 			success : function(datos) {   
				 				alert("Reserva actualizada");
				 				
				 			},    
				 			error : function(xhr, status) {
				 				revertFunc();
				     			alert('Disculpe, existió un problema');
				     			
				 			}
				 		});
			        }
			        else{
			           revertFunc();	
			        }

			    },
			    eventSources: [ 
				        {
				            url: '/reservas/' + id_espacio + '/eventos',
				            color: 'yellow',    
				            textColor: 'black'  
				        }	        
			    ]
			       	
			    
			});
			
			
			if($("#checkReservas").is(':checked')){
				$("#calendar").fullCalendar('addEventSource',{

					url: '/reservas/misEventos',							
		            color: 'green',    
		            textColor: 'black' 
	
				});
			}
			
			$("#checkReservas").change(function(){
				if (this.checked){
					$("#calendar").fullCalendar('addEventSource',{

						url: '/reservas/misEventos',							
			            color: 'green',    
			            textColor: 'black' 
		
					});
				}
				else{
					$("#calendar").fullCalendar('removeEventSource',{

						url: '/reservas/misEventos',							
			            color: 'green',    
			            textColor: 'black' 
		
					});
					
				}
				
				
				
			});
			
		});
		
		/*]]>*/
	</script>
 </div>

            <!-- /.container-fluid -->

</body>
</html>	
