<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Administrar facultades</title>
   
</head>
<body>
<div class="container-fluid" th:fragment="contenido">
	
	<div class="row">
    	<div class="col-md-12">
            <h2 class="page-header text-center">
                <small>Lista de </small>Facultades
            </h2>
        </div>
    </div>
           <!-- /.row -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<div class="col-md-2">
				<label class="form-group" style="margin-top:5px;">Filtrar por: </label>
			</div>
			<div class="col-md-2">
				<select id="selec-busqueda" class="form-control">
					<option value="nombre">Nombre</option>
					<option value="web">Web</option>
				</select>
			</div>
			<div class="col-md-8">
			 <div class="input-group">        
	            <input type="text" id="texto-busqueda" class="form-control"></input>
	             <span class="input-group-addon"><a id="busquedaFacultad"><i class="fa fa-search"></i></a></span>
	          </div>
	    	</div>
		</div>
	</div>
	
	<hr/>
	
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
    	
			<div class="jumbotron text-center" th:if="${#lists.isEmpty(currentResults)}">
           			<i class="fa fa-ban fa-5x"></i>
           			<h4>¡Uups! No hay ninguna facultad.</h4>
      		</div> 

          	<div class="table-responsive" th:unless="${#lists.isEmpty(currentResults)}">
              <table class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Página web</th>
                          <th>Acciones</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr th:if="${!r.deleted}" th:each="r : ${currentResults}" class="success">
                      	
                          <td th:text="${r.nombreFacultad}"></td>
                          <td th:text="${r.webFacultad}"></td>
                          <td><a th:attr="id=${r.id},data-id=${r.id},name=${r.nombreFacultad},web=${r.webFacultad},act=${r.deleted},data-accion='Ver'" role="button" data-toggle="tooltip" data-placement="top" title="Ver" ><i class="zmdi zmdi-eye zmdi-hc-lg"> </i></a>
							<a th:href="@{'/admin/administrar/facultad/editar/' + ${r.id}}" role="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="zmdi zmdi-edit zmdi-hc-lg"> </i></a>
							<a th:attr="id=${r.id},data-id=${r.id},name=${r.nombreFacultad},web=${r.webFacultad},act=${r.deleted},data-accion='Eliminar'" role="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="zmdi zmdi-delete zmdi-hc-lg"> </i></a>	
							</td>
                      </tr> 
                  </tbody>
              </table>
              
          	</div> 
        <!-- /.table-responsive-->
    	<a th:href="@{'/admin/administrar/facultad/' + ${currentIndex} + '/restaurar'}"><input type="button" class="btn btn-default" value="Restaurar facultades"/></a>
		</div>
	</div>
	<!-- Pagination -->
 	<div class="row" th:unless="${#lists.isEmpty(currentResults.content)}">
    <div class="col-md-12 text-center">
        <nav>
            <ul class="pagination">
                <li th:class="${currentIndex == 1}? 'disabled' : ''">
                    <span th:if='${currentIndex == 1}'>Primera</span>
                    <a th:if='${currentIndex != 1}'
                       th:href="@{1}">Primera</a>
                </li>
                <li th:class="${currentIndex != 1}? '' : 'disabled'">
                    <span th:if='${currentIndex == 1}'><i class='fa fa-angle-left'></i></span>
                    <a th:if='${currentIndex != 1}'
                       th:href="@{${(currentIndex - 1)}}"
                       title='Go to previous page'><i class='fa fa-angle-left'></i></a>
                </li>

                <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                    th:class="${item == currentIndex ? 'active' : '' }">

                    <span th:if='${item == currentIndex}' th:text='${item}'>1</span>

                    <a th:if='${item != currentIndex}'
                       th:href="@{${item}}">
                        <span th:text='${item}'>1</span>
                    </a>
                </li>

                <li th:class="${currentIndex != currentResults.totalPages}? '' : 'disabled'">
                    <span th:if='${currentIndex == currentResults.totalPages}'><i class='fa fa-angle-right'></i></span>
                    <a th:if='${currentIndex != currentResults.totalPages}'
                       th:href="@{${(currentIndex + 1)}}" title='Go to next page'><i class='fa fa-angle-right'></i></a>
                </li>
                <li th:class="${currentIndex == currentResults.totalPages}? 'disabled' : ''">
                    <span th:if='${currentIndex == currentResults.totalPages}'>Última</span>
                    <a th:if='${currentIndex != currentResults.totalPages}'
                       th:href="@{${currentResults.totalPages}}">Última</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
 <!-- /.Pagination -->
	<div class="modal fade" id="modalEditarFacultad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Facultad</h4>
          </div>
          <div class="modal-body">
          		<form class="form-horizontal" role="form" action="#" th:action="@{/editar}" th:object="${Facultad}" method="put">             
				
				 <!-- Nombre de facultad --> 
				 <div class="row">
                	<div class="col-md-12">
		                 <!-- Asunto --> 
		                 <div class="form-group">
		                     <label class="col-md-2 control-label">Nombre: </label>
		                      <div class="col-md-10">
		                         <p id="idNombre" class="form-control-static"> </p>
		                      </div>
		                 </div>
                   </div>
		         </div>
                 
                 <div class="row">
                	<div class="col-md-12">
		                 <!-- Asunto --> 
		                 <div class="form-group">
		                     <label class="col-md-2 control-label">Web: </label>
		                      <div class="col-md-10">
		                         <p id="idWeb" class="form-control-static"> </p>
		                      </div>
		                 </div>
                   </div>
		         </div>
		         
		         <div class="row">
                	<div class="col-md-12">
		                 <!-- Asunto --> 
		                 <div class="form-group">
		                     <label class="col-md-2 control-label">Eliminado: </label>
		                      <div class="col-md-10">
		                         <p id="idActivado" class="form-control-static"> </p>
		                      </div>
		                 </div>
                   </div>
		         </div>
                                
             </form>
                 
          </div>
          <div class="modal-footer">
	        <a id="btn-eliminar" href="#" class="btn-rec gray">ELIMINAR</a>
	        <a id="btn-editar" th:href="@{''}" class="btn-rec blue">EDITAR</a>
	      </div>
        </div>
      </div>
    </div>
	
  <script th:inline="javascript">
 	var baseURL = /*[[@{/}]]*/ '/';
 	var pag = /*[[${currentIndex}]]*/ '/';
 </script>
 <script src="../../js/facultad.js" th:src="@{/js/facultad.js}"></script>	
 </div>
</body>
</html>