<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<meta charset="utf-8"/>
	<title>Listado de espacios</title>
</head>
<body>

<div class="container-fluid" th:fragment="contenido">

<!-- Page Heading -->
<div class="row">  
	<div class="col-md-12">
        <h1 class="page-header text-center">
            <small>Editar</small>
        </h1>
    </div>                  
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-12">
	   <form role="form" action="#" method="put">
	   		<div class="col-md-6">
	   		
	   		<!-- Asunto --> 
                 <div class="form-group">
                     <label>Nombre:</label>
                      <div>
                         <input id="idNombre" name="nombre" type="text" class="form-control" th:value="${facultad.nombreFacultad}"/>
                      </div>
                 </div>
                 
                 <!-- Fecha inicio --> 
                 <div class="form-group">
                     <label>Web:</label>                  
		                <input id="idWeb" name="email" type="text" class="form-control" th:value="${facultad.webFacultad}"/>                 
                 </div>
                                         
          	</div>              
                   <div class="row">              	
					    <div class="col-md-12 text-center">
					         <button id="enlaceGuardar" type="button" class="btn-normal">GUARDAR</button>
					    </div>                   
				   </div>
				   <!-- /.row -->
				  
	   </form>
   </div>                  
</div>
<!-- /.row -->
	


<script th:inline="javascript">
	var baseURL = /*[[@{/}]]*/ '/';
	var idFacultad = /*[[${facultad.id}]]*/ '1';
	
</script>
<script src="../../js/admin/facultad/editarFacultad.js" th:src="@{/js/admin/facultad/editarFacultad.js}"></script>
</div>

            <!-- /.container-fluid -->

</body>
</html>	
