<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    
	<title>UCM RESERVAS - Añadir espacio</title>
    
</head>
<body>

	<div class="container-fluid" th:fragment="contenido">
        
         <!-- Page Heading -->
			<div class="row">
			    <div class="col-md-12">
			        <h2 class="page-header text-center">
			           Espacio
			        </h2>
			    </div>
			</div>
		<!-- /.row -->
			
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                       <form role="form" action="#" th:object="${Espacio}" method="post">
                       
                       	<div class="form-group">
                              <label>Nombre</label>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-crop-square"></i></span>
                                <input name="nombreEspacio" id="idNombre" type="text" class="form-control" placeholder="Nombre del espacio"/>
                              </div>
                          </div>
                          
<!--                           <div class="form-group"> -->
<!--                               <label>Aforo</label> -->
<!--                               <div class="input-group"> -->
<!--                                 <span class="input-group-addon"><i class="fa fa-users"></i></span> -->
<!--                                 <input name="capacidad" type="text" class="form-control" placeholder="Introduce la capacidad del espacio"/> -->
<!--                               </div> -->
<!--                           </div> -->
                          
<!--                           <div class="form-group"> -->
<!--                               <label>Microfono</label> -->
<!--                                   <select id="microfono" name="microfono" title="¿Tiene microfono?" class="form-control"> -->
					          
<!-- 					          <option value="true">Sí</option> -->
<!-- 					          <option value="false">No</option> -->
<!-- 					        </select> -->
<!--                           </div> -->
                          
<!--                           <div class="form-group"> -->
<!--                               <label>Proyector</label> -->
<!--                                   <select id="proyector" name="proyector" title="¿Tiene proyector?" class="form-control"> -->
					          
<!-- 					          <option value="true">Sí</option> -->
<!-- 					          <option value="false">No</option> -->
<!-- 					        </select> -->
<!--                           </div> -->
                          
                          <div class="form-group">
                              <label>Tipo de Espacio</label>
                                  <select id="idTipo" name="tipoEspacio" title="Tipo de espacio" class="form-control">
					          
						          <option th:value="Aula">Aula</option>
						          <option th:value="Sala">Sala</option>
						          <option th:value="Laboratorio">Laboratorio</option>
						        </select>
                          </div>
                          
                          <!-- Facultad usuario -->
			            <div class="form-group">
							<label>Facultad: </label>
							<div class="input-group">
								<span class="input-group-addon"><i class="zmdi zmdi-balance"></i></span>
								<input type="text" id="idFacultad" class="form-control" placeholder="Introduce una facultad"/>	
							</div>
													
						</div>
                            
                            <!-- Edificio -->
                            <div class="form-group">
                                <label>Edificio</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-building"></i></span>
                                  <select name="idFacultad" title="Facultad" class="form-control">				     
							          <option th:each="f : ${facultades}" 
							          		  th:value="${f.id}" 
							          		  th:text="${f.nombreFacultad}"/>							          			
							        </select>					        
                                </div>
                                <p class="small help-block text-left">Agregar este espacio a un edificio.</p>
                            </div>
                          
<!--                             <div class="form-group"> -->
<!--                                 <label for="ejemplo_email_1">Edificio</label> -->
<!-- 	                            <select id="idEdif" name="edificio" title="Edificio"> -->
			          
<!-- 						          <option th:each="f : ${edificios}" th:value="${f.id}" th:text="${f.nombreEdificio}"/>  -->
<!-- 						        </select> -->
<!-- 					        </div> -->
                          <div class="text-center">
                               <button type="submit" class="btn-normal">CREAR</button>
                          </div>

                       </form>
                   
                </div>
            </div>
            <!-- /.row -->
       
	<script th:inline="javascript">
			var baseURL = /*[[@{/}]]*/ '/';
			</script>
			<script src="../../js/admin/espacio/nuevoEspacio.js" th:src="@{/js/admin/espacio/nuevoEspacio.js}"></script>

        </div>
        <!-- /.container-fluid -->

        
           <footer>
            <div class="row">
                 <div class="div-footer text-center">
                    <i class="fa fa-copyright"></i> UCM Reservas - 2016
                 </div>
            </div>
          </footer>
</body>
</html>